:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-open-sans);
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/*HEADER*/

header {
    background-color: var(--color-white);
    box-shadow: 0 3px 6px #00000029;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.logo {
    font-family: var(--font-raleway);
    font-weight: 300;
    font-size: 2em;
    color: var(--color-primary);
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navButton {
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-grey);
    font-weight: 700;
    margin: 0 37px;
    padding: 27px 10px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.navButton:hover {
    border-bottom-color: var(--color-primary);
    color: var(--color-black);
}

/*MAINPAGE*/

.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.mainHeader {
    font-family: var(--font-raleway);
    font-size: 49px;
    color: var(--color-black);
    margin-bottom: 20px;
}

.mainButton {
    color: var(--color-white);
    font-weight: 700;
    text-align: center;
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border-radius: 40px;
    padding: 22px 157px;
    margin-top: 30px;
    cursor: pointer;
}

.mainImage {
    width: 100%;
}

/*STATISTICS*/
.statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.statisticsArticles {
    display: flex;
    justify-content: space-around;
}

.statistics > h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    margin: 70px 0 0;
}

.statisticsArticleContainer {
    margin: 80px 120px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.statisticsArticleContainer > h3 {
    font-family: var(--font-raleway);
    font-size: 20px;
    font-weight: 800;
    margin: 20px 0;
}

.statisticsArticleContainer > p {
    font-family: var(--font-raleway);
    font-size: 17px;
    color: var(--color-grey);
}

.articleIcon {
    padding-left: 30px;
    position: absolute;
}
.statisticsArticles > article:nth-child(2) > img {
    padding-top: 7px;
}

.circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    bottom: 5px;
}

.circle1 {
    background-color: var(--color-redish);
}

.circle2 {
    background-color: var(--color-primary);
    left: 10px;
}

.circle3 {
    background-color: var(--color-green);
}

/*BENEFITS*/

.benefits {
    background-color: var(--color-light-grey);
    display: flex;
    justify-content: center;
    padding: 106px;
}

.benefitsContainer {
    width: 1124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.benefitsSingle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    margin: 37px;
    padding: 91px 36px;
    float: right;
    height: 370px;
    position: relative;
}

.benefitsSingle h3 {
    font-family: var(--font-raleway);
    font-size: 36px;
    margin-bottom: 30px;
}


.benefitsSingle:nth-of-type(1) img {
    width: 386px;
    height: 219px;
    margin-left: 100px;
    z-index: 2;
}

.benefitsSingle:nth-of-type(2) img {
    width: 426px;
    height: 328px;
    margin-right: 100px;
    margin-left: 25px;
    z-index: 2;
}

.benefitsSingle:nth-of-type(3) img {
    width: 295px;
    height: 207px;
    z-index: 2;
    position: relative;
    top: 25px;
    right: -10px;
}
.benefitsSingle:nth-of-type(1)::after {
    content: "";
    height: 180px;
    width: 180px;
    border-radius: 41px;
    background-color: var(--color-redish);
    position: absolute;
    transform: rotate(45deg);
    z-index: 1;
    top: 40px;
    right: 40px;
}

.benefitsSingle:nth-of-type(2)::after {
    content: "";
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: absolute;
    left: 75px;
    top: 10px;
    z-index: 1;
}

.benefitsSingle:nth-of-type(3)::after {
    content: "";
    height: 100%;
    width: 40%;
    background-color: var(--color-green);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

}

.benefitsSingle p::after {
    content: "";
    background-color: var(--color-redish);
    display: block;
    width: 70%;
    height: 5px;
    margin-top: 30px;
}

.benefitsSingle:nth-of-type(2) p::after {
    background-color: var(--color-primary);
}

.benefitsSingle:nth-of-type(3) p::after {
    background-color: var(--color-green);
    width: 60%;
}

.benefitsSingle > div {
    width: 50%;
}

.benefitsSingle:nth-of-type(3) > .break {
    display: block;
    width: 10%;
    height: 200%;
    background-color: var(--color-light-grey);
}


/*PRICING*/

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pricing > h3 {
    font-size: 36px;
    font-family: var(--font-raleway);
    margin-top: 50px;
    margin-bottom: 50px;
}
.pricingColumns {
    display: flex;
}

.pricingColumn {
    padding: 30px 70px 80px;
    margin: 50px;
    text-align: center;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    position: relative;
}

.pricingColumn:nth-of-type(2) {
    border-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    transform: scale(1.1);
}

.pricingColumn:nth-of-type(3) {
    border-color: var(--color-green);
}

.pricingColumn > h4 {
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: 700;
}

.pricingColumn > p {
    font-size: 46px;
    padding: 20px 0 15px;
    color: var(--color-redish)
}

.pricingColumn:nth-of-type(2) > p {
    color: var(--color-primary);
}

.pricingColumn:nth-of-type(3) > p {
    color: var(--color-green);
}

.pricingColumn > span {
    font-size: 12px;
    font-family: var(--font-raleway);
    font-weight: 700;
}

.pricingColumn > ul {
    font-size: 14px;
    margin-top: 50px;
}

.pricingColumn > ul > li {
    margin: 20px;
}

.pricingColumn > ul > li > img {
    margin-right: 10px;
}

.pricingColumn > a {
    position: absolute;
    bottom: -24px;
    right: calc(50% - 80px);
    color: var(--color-white);
    border-radius: 23px;
    background-color: var(--color-redish);
    padding: 16px 57px;
}

.pricingColumn:nth-of-type(2) > a {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.pricingColumn:nth-of-type(3) > a {
    background-color: var(--color-green);
}
/*CONTACT*/

.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 120px auto 60px;
}

.leftContact {
    width: 440px;
}

.leftContact > h3 {
    font-family: var(--font-raleway);
    font-size: 49px;
    margin-bottom: 22px;
}

.addressContact {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.addressContact p {
    font-weight: 600;
    color: var(--color-grey);
    padding-right: 20px;
    padding-left: 10px;
}

.rightContact {
    width: 440px;
    display: flex;
}

.formContact {
    display: flex;
    flex-direction: column;
}

.contactLabel {
    font-weight: 700;
    font-size: 11px;
    color: var(--color-primary)
}

.contactText {
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--color-grey);
}

.contactText:focus {
    border: 1px solid var(--color-primary);
}

.contactCheckbox {
    cursor: pointer;
    display: flex;
    font-size: 12px;
    color: var(--color-grey)
}

.contactCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.contactCheckbox span {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    margin-right: 10px;

}

.contactCheckbox input:checked + span {
    background-image: url("../assets/Checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.contactButton {
    margin-top: 20px;
    padding: 20px 97px;
    border: none;
    border-radius: 25px;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 50%;
    align-self: flex-end;
}
/*FOOTER*/

footer {
    box-shadow: 0px -5px 40px #00000029;
    padding: 20px 0;
}
.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLogo {
    display: flex;
    flex-direction: column;
}

.footerCopy {
    font-size: 11px;
    color: var(--color-grey);
}