.benefits {
  background-color: $color-light-grey;
  display: flex;
  justify-content: center;
  padding: 106px;
}

.benefitsContainer {
  width: 1124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.benefitsSingle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  margin: 37px;
  padding: 50px 36px;
  height: 40%;
  position: relative;
}

.benefitsSingle:nth-of-type(2) {
  flex-direction: row-reverse;
}

.benefitsSingle h3 {
  font-family: $font-raleway;
  font-size: 2.25em;
  margin-bottom: 30px;
}


.benefitsSingle:nth-of-type(1) img {
  width: 50%;
  height: 90%;
  margin-left: 100px;
  z-index: 2;
}

.benefitsSingle:nth-of-type(2) img {
  width: 45%;
  height: 100%;
  margin-right: 100px;
  margin-left: 25px;
  z-index: 2;
}

.benefitsSingle:nth-of-type(3) img {
  width: 295px;
  height: 207px;
  z-index: 2;
  position: relative;
  top: 25px;
  right: -10px;
}
.benefitsSingle:nth-of-type(1)::after {
  content: "";
  height: 180px;
  width: 180px;
  border-radius: 41px;
  background-color: $color-redish;
  position: absolute;
  transform: rotate(45deg);
  z-index: 1;
  top: 40px;
  right: 40px;
}

.benefitsSingle:nth-of-type(2)::after {
  content: "";
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: $color-primary;
  position: absolute;
  left: 75px;
  top: 10px;
  z-index: 1;
}

.benefitsSingle:nth-of-type(3)::after {
  content: "";
  height: 100%;
  width: 40%;
  background-color: $color-green;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

}

.benefitsSingle p::after {
  content: "";
  background-color: $color-redish;
  display: block;
  width: 70%;
  height: 5px;
  margin-top: 30px;
}

.benefitsSingle:nth-of-type(2) p::after {
  background-color: $color-primary;
}

.benefitsSingle:nth-of-type(3) p::after {
  background-color: $color-green;
  width: 60%;
}

.benefitsSingle > div {
  width: 50%;
}

.benefitsSingle:nth-of-type(3) > .break {
  display: block;
  width: 10%;
  height: 200%;
  background-color: $color-light-grey;
}

@media (max-width: 1150px) {
  .benefits{
    padding: 0 20px;
    .benefitsContainer {
      width: 100%;
    }
  }
}

@media (max-width: 970px) {
  .benefits {
    .benefitsContainer {
      .benefitsSingle {
        height: 100%;
        width: 100%;
        flex-direction: column-reverse;
        margin: 20px 60px;
        &:nth-of-type(3) {
          flex-direction: column;
          .break {
            visibility: hidden;
          }
        }
        h3 {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        &:nth-of-type(1)::after {
          height: 25%;
          width: 15%;
          border-radius: 25%;
          left: 55%;
          top: 5%;
        }
        &:nth-of-type(2)::after {
          height: 30%;
          width: 30%;
          left: 30%;
          top: 10%;
        }
        &:nth-of-type(3)::after {
          height: 45%;
          width: 100%;
          top: 55%;
        }
        & p::after {
          visibility: hidden;
        }
        img {
          width: 50%;
          height: 50%;
          margin: 0;
        }
      }
    }
  }
}