.benefits {
  background-color: $color-light-grey;
  display: flex;
  justify-content: center;
  padding: 106px;
}

.benefitsContainer {
  width: 1124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.benefitsSingle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  margin: 37px;
  padding: 91px 36px;
  float: right;
  height: 370px;
  position: relative;
}

.benefitsSingle h3 {
  font-family: $font-raleway;
  font-size: 2.25em;
  margin-bottom: 30px;
}


.benefitsSingle:nth-of-type(1) img {
  width: 386px;
  height: 219px;
  margin-left: 100px;
  z-index: 2;
}

.benefitsSingle:nth-of-type(2) img {
  width: 426px;
  height: 328px;
  margin-right: 100px;
  margin-left: 25px;
  z-index: 2;
}

.benefitsSingle:nth-of-type(3) img {
  width: 295px;
  height: 207px;
  z-index: 2;
  position: relative;
  top: 25px;
  right: -10px;
}
.benefitsSingle:nth-of-type(1)::after {
  content: "";
  height: 180px;
  width: 180px;
  border-radius: 41px;
  background-color: $color-redish;
  position: absolute;
  transform: rotate(45deg);
  z-index: 1;
  top: 40px;
  right: 40px;
}

.benefitsSingle:nth-of-type(2)::after {
  content: "";
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: $color-primary;
  position: absolute;
  left: 75px;
  top: 10px;
  z-index: 1;
}

.benefitsSingle:nth-of-type(3)::after {
  content: "";
  height: 100%;
  width: 40%;
  background-color: $color-green;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

}

.benefitsSingle p::after {
  content: "";
  background-color: $color-redish;
  display: block;
  width: 70%;
  height: 5px;
  margin-top: 30px;
}

.benefitsSingle:nth-of-type(2) p::after {
  background-color: $color-primary;
}

.benefitsSingle:nth-of-type(3) p::after {
  background-color: $color-green;
  width: 60%;
}

.benefitsSingle > div {
  width: 50%;
}

.benefitsSingle:nth-of-type(3) > .break {
  display: block;
  width: 10%;
  height: 200%;
  background-color: $color-light-grey;
}