.pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pricing > h3 {
  font-size: 2.25em;
  font-family: $font-raleway;
  margin-top: 50px;
  margin-bottom: 50px;
}
.pricingColumns {
  display: flex;
}

.pricingColumn {
  padding: 30px 70px 50px;
  margin: 50px;
  text-align: center;
  border: 1px solid $color-redish;
  border-radius: 18px;
  position: relative;
}

.pricingColumn:nth-of-type(2) {
  border-color: $color-primary;
  box-shadow: 5px 10px 14px $color-primary-shadow;
  transform: scale(1.1);
}

.pricingColumn:nth-of-type(3) {
  border-color: $color-green;
}

.pricingColumn h4 {
  font-size: 1.25em;
  font-family: $font-raleway;
  font-weight: 700;
}

.pricingColumn p {
  font-size: 2.875em;
  padding: 20px 0 15px;
  color: $color-redish;
}

.pricingColumn:nth-of-type(2) p {
  color: $color-primary;
}

.pricingColumn:nth-of-type(3) p {
  color: $color-green;
}

.pricingColumn span {
  font-size: 0.75em;
  font-family: $font-raleway;
  font-weight: 700;
}

.pricingColumn ul {
  font-size: 0.875em;
  margin-top: 20px;
}

.pricingColumn ul li {
  margin: 20px;
}

.pricingColumn ul li img {
  margin-right: 10px;
}

.pricingColumn > a {
  position: absolute;
  bottom: -24px;
  right: calc(50% - 80px);
  color: $color-white;
  border-radius: 23px;
  background-color: $color-redish;
  padding: 16px 57px;
}

.pricingColumn:nth-of-type(2) > a {
  background-color: $color-primary;
  box-shadow: 5px 10px 14px $color-primary-shadow;
}

.pricingColumn:nth-of-type(3) > a {
  background-color: $color-green;
}

@media (max-width: 1200px) {
  .pricingColumns {
    flex-direction: column;
    .pricingColumn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 10px 20px;
      .leftColumn {
        height: 100%;
      }
      .rightColumn {
        height: 100%;
        ul {
          text-align: left;
        }
      }
    }
  }
}